.header-page{
    background-color: #eff1f3;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 999;
    overflow: hidden;
    box-shadow:  -2px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1)
}
.header-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-left:10px;
    margin-right: 10px;
    cursor: pointer;
}
.search{
    margin-left:10px;
    margin-right: 10px;
    width: 10em;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: 2px solid #002f34;
    border-radius: 4px;
    background-color: white;
}
.search ::selection {
    border-color: #23e5db;
    outline-color: #23e5db;
}
.search input {
    border-color: transparent;
    outline-color: transparent;
    padding-left: 10px;
}
.search-input {
    margin-left:10px;
    margin-right: 10px;
    width: 36em;
    height: 48px;
    border: 2px solid #002f34;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .search-input .input {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .search-input .input input{
    border-color: transparent;
    outline-color: transparent;
    width: 100%;
    align-items: center;
    padding-left: 10px;
  }
  .search-input .search-icon {
    min-width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    cursor: pointer;
    background-color: #002f34;
    border-radius: 0 4px 4px 0;
  }
  
  .search-input .search-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
  }
  .language {
    margin-left:10px;
    margin-right: 10px;
    height: 48px;
    display: flex;
    align-items: center;
  }
  .language span {
    /* justify-content: space-between;
    align-items: center; */
    font-size: 15px;
    white-space: normal;
    text-overflow: ellipsis;
    font-weight: bolder;
    margin-right: 5px;
  }
  .span {
    text-decoration: none;
    font-size: 16px;
    white-space: normal;
    text-overflow: ellipsis;
    font-weight: bolder;
    margin-right: 5px;
  }
  .login-btn{
    margin-left:10px;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
  }
  
  .login-btn hr {
    margin: 0;
    background-color: black;
    height: 2px;
  }
  .logout-btn{
    margin-left:10px;
    margin-right: 10px;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .login a{
    text-decoration: none;
  }
  .sell-btn {
    margin-left:10px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .sell-btn .all {
    fill: white;
  }
  
  .sell-btn .top {
    fill: #23e5db;
  }
  
  .sell-btn .left {
    fill: #ffce32;
  }
  
  .sell-btn .right {
    fill: #3a77ff;
  }
  .sell-btn .sell-menu {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #002f34;
  }
  
  /* .sellMenu .sellMenuContent svg {
    align-items: center;
  } */
  .sell-btn .sell-menu span {
    margin-left: 5px;
  }
  
  @media only screen and (max-width: 700px) {
    .search,
    .search-input,
    .sell-btn {
      display: none;
    }
  }
  
  